:root {
    /* Colors */
    --white-color: #ffffff;
    --purple-color: #722DF9;
    --dark-purple: #5724BA;
    --darker-purple: #421C8C;
}

.offcanvas {
    background-color: var(--purple-color);
}

.navbar-nav li a {
    color: var(--white-color);
    transition: 0.3s;
}

.navbar-nav li a:hover {
    color: var(--darker-purple);
}