:root {
    /* Colors */
    --purple-color: #722DF9;
    --dark-purple: #5724BA;
    --darker-purple: #421C8C;
    --white-color: #ffffff;

    /* Box Shadow */
    --box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Global */
.name, 
.title, 
.icon,
.services-content:hover i,
.btn-under {
    color: var(--purple-color);
}

.active, 
.sub {
    color: var(--darker-purple);
}

.services-content:hover h4, 
.services-content:hover p,
.services-content i,
.under-sub, 
.under-p,
.btn-under:hover {
    color: var(--white-color);
}

.navbar-nav li a:hover {
    color: var(--darker-purple);
}

.offcanvas, 
.oncanvas, 
.logo, 
.btn-home, 
.progress-bar, 
.circle, 
.services-content:hover {
    background-color: var(--purple-color);
}

.logo:hover, 
.btn-home:hover, 
.line,
.under,
.btn-under:hover {
    background-color: var(--darker-purple);
}

.services-content:hover i,
.btn-under {
    background-color: var(--white-color);
}

.navbar-nav li a:hover, 
.logo, 
.btn-home, 
.about-pic img, 
.services-content, 
.services-content h4, 
.services-content p,
.services-content i,
.btn-under {
    transition: all 0.3s ease-in-out;
}

.navbar {
    box-shadow: var(--box-shadow);
}

.home, 
.about, 
.skills,
.services {
    height: 100vh;
    margin-top: 78px;
 }

 .max-row {
    max-width: 976.5px;
 }

/* Navigation Bar */
.navigation {
    z-index: 1;
}
.navbar-nav li a {
    color: var(--white-color);
}

/* Homepage */
.profile-pic {
    margin: auto auto;
    height: 230px;
    width: 230px;
    border: 6px solid white; 
    box-shadow: var(--box-shadow);
}

.profile-pic:hover img {
    cursor: pointer;
    transform: scale(1.2);
}

.profile-pic img {
    transition: all 0.3s ease;
    height: 230px;
    width: 230px;
}

/* About Page */
.about-pic {
    margin: auto auto;
    height: 330px;
    width: 230px;
    border: 6px solid white; 
    box-shadow: var(--box-shadow);
}
.about-pic:hover img {
    cursor: pointer;
    transform: scale(1.2);
}

.about-pic img {
    height: 330px;
    width: 230px;
}

/* Skills Page */
.line {
    width: 5px;
}

.circle-border {
    height: 25px;
    width: 25px;
    border: 2px solid var(--purple-color);
    left: -10px;
}

.circle {
    height: 15px;
    width: 15px;
    left: 15%;
    bottom: 12%;
}

/* Services Page */
.services-content {
    border: 2px solid var(--purple-color);
}

.under-p {
    max-width: 550px;
}

.btn-under {
    border: 2px solid white;
    max-width: 300px;
}